  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>

  <nav>
    <% if (user) { %>
      <div id="menu">
      <a href="/auth/logout">LOGOUT</a>
      <a href="/dogs/new" <%- title === 'Dog Intake' ? 'class="active"' : '' %>>ADD DOG</a>
      </div>
      <div id="logo">
      <a href="/dogs/home" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
      </div>
      <!-- <a 
      href="/dogs" <%- title === 'Adoptable Dogs' ? 'class="active"' : '' %>
      ><button type="submit">ADOPTABLE DOGS</button></a>
      <a 
      href="/dogs/notadoptable" <%- title === 'Not Ready for Adoption' ? 'class="active"' : '' %>
      ><button type="submit">NOT YET ADOPTABLE DOGS</button></a>
      <a 
      href="/dogs/adopted" <%- title === 'Dogs in Forever Homes!' ? 'class="active"' : '' %>
      ><button type="submit">ADOPTED DOGS</button></a>
      <a 
      href="/dogs/transferred" <%- title === 'Specialty Case Transfers' ? 'class="active"' : '' %>
      ><button type="submit">TRANSFERRED DOGS</button></a>
      <a 
      href="/dogs/my-intake-history" <%- title === 'My Intake History' ? 'class="active"' : '' %>
      ><button type="submit">MY INTAKE HISTORY</button></a> -->
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>


  <!-- <nav>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">LOGOUT</button>
      </a>
      <a 
      href="/dogs/new" <%- title === 'Dog Intake' ? 'class="active"' : '' %>
      ><button type="submit">ADD DOG</button></a>
      <a 
      href="/dogs" <%- title === 'Adoptable Dogs' ? 'class="active"' : '' %>
      ><button type="submit">ADOPTABLE DOGS</button></a>
      <a 
      href="/dogs/notadoptable" <%- title === 'Not Ready for Adoption' ? 'class="active"' : '' %>
      ><button type="submit">NOT YET ADOPTABLE DOGS</button></a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav> -->
