<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dogs/index.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <table id="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Breed</th>
                <th>Adoptable</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% dogs.forEach((dog) => { %>
            <tr>
                <td><%= dog.name %></td>
                <td><%= dog.age %></td>
                <td><%= dog.breed %></td>
                <td><%= dog.adoptable %></td>
                <td><a href="/dogs/<%= dog._id %>">DETAILS</a></td>
                <td><form action="/dogs/<%= dog._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">DELETE</button>
                </form></td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %>