<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dogs/index.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <div>
        <% dogs.forEach((dog) => { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= dog.name %>'s General Info:</h5>
                        <p class="card-text">
                            Age: <strong><%= dog.age %></strong><br>
                            Breed: <strong><%= dog.breed %></strong><br>
                            Weight: <strong><%= dog.weight %></strong><br>
                            <% if(dog.adoptable === true){ %>
                                <%= dog.name %> is ready for adoption!
                            <% }else{ %>
                                <%= dog.name %> is not ready for adoption.
                            <% } %> 
                        </p>
                        <p class="card-text"><%= dog.adoptable %></p>
                        <a href="/dogs/<%= dog._id %>" class="card-link"><button>DETAILS</button></a>
                        <form action="/dogs/<%= dog._id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit">DELETE</button>
                        </form>
                </div>
            </div>
        <% }) %> 

    </div>
    <!-- <h1><%= title %></h1>
    <table id="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Breed</th>
                <th>Adoptable</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% dogs.forEach((dog) => { %>
            <tr>
                <td><%= dog.name %></td>
                <td><%= dog.age %></td>
                <td><%= dog.breed %></td>
                <td><%= dog.adoptable %></td>
                <td><a href="/dogs/<%= dog._id %>">DETAILS</a></td>
                <td><form action="/dogs/<%= dog._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">DELETE</button>
                </form></td>
            </tr>
            <% }) %> 
        </tbody>
    </table> -->

</main>

<%- include('../partials/footer') %>