<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dogs/show.css" />
<%- include('../partials/nav') %>
<main>
    <h1 class="head-title"><%= title %></h1> 
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= `${dog.name}` %>'s Details</h5>
            <h5 class="card-title">
                <% if(dog.adoptable === true){ %>
                    <strong><%= dog.name %> is ready for adoption!</strong>
                <% }else{ %>
                    <strong><%= dog.name %> is not up for adoption.</strong><br>
                <% } %>
                <% if(dog.adopted === true){ %>
                    <strong>Because <%= dog.name %> has been adopted!</strong><br>
                <% } %>
            </h5>
            <p class="card-text">
                Name: <strong><%= `${dog.name}` %></strong><br>
                Age: <strong><%= `${dog.age}` %></strong><br>
                Breed: <strong><%= `${dog.breed}` %></strong><br>
                Weight: <strong><%= `${dog.weight}` %></strong><br>
                Ideal Weight: <strong><%= `${dog.idealWeight}` %></strong><br>
                Coat: <strong><%= `${dog.coat}` %></strong><br>
                Fixed: <strong><%= `${dog.fixed}` %></strong></p>
                <% if(!dog.adopted && !dog.transferred) { %> 
            <p class="card-text">
                Intake Notes: <%= `${dog.generalNotes}` %> </p>

            

            <% if(dog.vaccination.length) { %>
                <% dog.vaccination.forEach(vaccs => { %> 
                    <p class="card-text">
                        Parvo Rec: <strong><%= `${vaccs.parvoRec.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong><br>
                        Next Dose Due: <strong><%= `${vaccs.parvoDueNext.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong><br>
                        Distemper Rec: <strong><%= `${vaccs.distRec.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong><br>
                        Next Dose Due: <strong><%= `${vaccs.distDueNext.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong><br>
                        Hepatitis Rec: <strong><%= `${vaccs.hepRec.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong><br>
                        Next Dose Due: <strong><%= `${vaccs.hepDueNext.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong><br>
                        Rabies Rec: <strong><%= `${vaccs.rabiesRec.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong><br>
                        Next Dose Due: <strong><%= `${vaccs.rabiesDueNext.toUTCString().split(' ').slice(1, 4).join(' ')}` %></strong>
                    </p>
                    <a href="/dogs/vaccines/<%= dog._id %>/update" class="card-link"><button type="submit" class="btn btn-info" id="up-vaccs">UPDATE VACCINES LOG</button></a>
                <% }) %> 
                <% } else { %>
                <a href="/dogs/vaccines/<%= dog._id %>" class="card-link"><button type="submit" class="btn btn-info">CREATE VACCINES LOG</button></a>
                <% } %>
            <% if(dog.behavior.length) { %>
                <% dog.behavior.forEach(test => { %>
                    <p class="card-text">
                    <% if(test.humans === true){ %>
                        <%= dog.name %> is <strong>FRIENDLY</strong> with humans!<br>
                    <% }else{ %>
                        <%= dog.name %> is shy with people.<br>
                    <% } %>
                    <% if(test.kids === true){ %>
                        <%= dog.name %> is <strong>GOOD</strong> with children!<br>
                    <% }else{ %>
                        <%= dog.name %> is afraid of kids.<br>
                    <% } %>
                    <% if(test.otherDogs === true){ %>
                        <%= dog.name %> <strong>LIKES</strong> other dogs!<br>
                    <% }else{ %>
                        <%= dog.name %> doesn't like other dogs.<br>
                    <% } %>
                    <% if(test.cats === true){ %>
                        <%= dog.name %> <strong>LIKES</strong> cats!<br>
                    <% }else{ %>
                        <%= dog.name %> doesn't like cats.<br>
                    <% } %>
                    <% if(test.houseBroken === true){ %>
                        <%= dog.name %> is <strong>HOUSE TRAINED</strong>!<br>
                    <% }else{ %>
                        <%= dog.name %> needs training.<br>
                    <% } %>
                    <%= dog.name %>'s energy is a <strong><%= test.energy %></strong> / 5.<br>
                    </p>
                    <a href="/dogs/behavior/<%= dog._id %>/update" class="card-link"><button type="submit" class="btn btn-info">UPDATE BEHAVIOR LOG</button></a>
            <% }) %> 
            <% } else { %>
            <a href="/dogs/behavior/<%= dog._id %>" class="card-link"><button type="submit" class="btn btn-info">CREATE BEHAVIOR LOG</button></a>
            <% } %>
            <% if(!dog.adopted && !dog.transferred) { %> 
            <form action="/dogs/<%= dog._id %>/flip-adoptable?_method=PUT" method="POST">    
                <button class="btn btn-secondary" type="submit" id="adoptable" name="adoptable" <%= dog.adoptable ? "checked" : "" %>> FLIP ADOPTABILITY
            </form>
            <% } %> 
            <% if(dog.adoptable){ %> 
            <a href="/dogs/adoption/<%= dog._id %>" class="card-link"><button type="submit" class="btn btn-success">PROCESS ADOPTION</button></a>
            <% } %> 
            <a href="/dogs/transfer/<%= dog._id %>" class="card-link"><button type="submit" class="btn btn-warning">PROCESS TRANSFER</button></a>

            <% } %> 

            <form action="/dogs/<%= dog._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit" class="btn btn-danger">REMOVE FROM DB</button>
            </form>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>