<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dogs/new.css" />
<%- include('../partials/nav') %>

<main>
    <h1 class="head-title"><%= title %></h1>
    <div class="my-form-card">
    <form action='/dogs/<%= dog._id %>/vaccines?_method=PUT' method="POST">
        <div class="btn-group-toggle" data-toggle="buttons">
            <div class="form-group">
                <label class="btn btn-secondary active">
                    <input type="checkbox" id="parvo" name="parvo">    Parvo Vaccine:
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="parvoRec">Vaccine Received</label>
            <input type="date" class="form-control" id="parvoRec" name="parvoRec">
        </div>
        <div class="form-group">
            <label for="parvoDueNext">Next Dose Due</label>
            <input type="date" class="form-control" id="parvoDueNext" name="parvoDueNext">
        </div>
        <div class="btn-group-toggle" data-toggle="buttons">
            <div class="form-group">
                <label class="btn btn-secondary active">
                    <input type="checkbox" id="distemper" name="distemper">    Distemper Vaccine:
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="distRec">Vaccine Received</label>
            <input type="date" class="form-control" id="distRec" name="distRec">
        </div>
        <div class="form-group">
            <label for="distDueNext">Next Dose Due</label>
            <input type="date" class="form-control" id="distDueNext" name="distDueNext">
        </div>
        <div class="btn-group-toggle" data-toggle="buttons">
            <div class="form-group">
                <label class="btn btn-secondary active">
                    <input type="checkbox" id="hepatitis" name="hepatitis">    Hepatitis Vaccine:
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="hepRec">Vaccine Received</label>
            <input type="date" class="form-control" id="hepRec" name="hepRec">
        </div>
        <div class="form-group">
            <label for="hepDueNext">Next Dose Due</label>
            <input type="date" class="form-control" id="hepDueNext" name="hepDueNext">
        </div>
        <div class="btn-group-toggle" data-toggle="buttons">
            <div class="form-group">
                <label class="btn btn-secondary active">
                    <input type="checkbox" id="rabies" name="rabies">    Rabies Vaccine:
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="rabiesRec">Vaccine Received</label>
            <input type="date" class="form-control" id="rabiesRec" name="rabiesRec">
        </div>
        <div class="form-group">
            <label for="rabiesDueNext">Next Dose Due</label>
            <input type="date" class="form-control" id="rabiesDueNext" name="rabiesDueNext">
        </div>
        <div class="form-group">
            <label for="healthNotes">Enter any notes:</label>
            <textarea name="healthNotes" id="healthNotes" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="behave-submit">Submit</button>
    </form>
    </div>
</main>

<%- include("../partials/footer") %>